body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;
    margin: 30px auto;
    
    border-radius: 50%;
    background-color: green;
    font-weight: bold;
    font-size: 22px;

    transition: 1s;
}